section
  h3(id='debugging-express') Express의 디버깅

  p.
    Express는 내부적으로 라우트 매치나 애플리캐이션 모드에 관한 정보를 로깅하기 위해서
    <a href="https://github.com/visionmedia/debug">debug</a> 모듈을 사용합니다.
    이 정보를 보기 위해서는, 앱을 시작 할 때 간단히 <code>DEBUG</code>의 환경 변수을 
    <code>express:*</code>로 설정하시면 됩니다. 그러면 콘솔에 디버깅 정보가 나타납니다.

  +shell.
    $ DEBUG=express:* node ./bin/www

  p.
    <code>hello world</code> 예제에 이를 실행 시키면, 다음과 같이 출력됩니다.
    

  +shell.
    express:application booting in development mode +0ms
    express:router defined get /hello.txt +0ms
    express:router defined get /hello.txt +1ms

  p.
    더 많은 <code>debug</code>관련 문서들을 보려면 
    <a href="https://github.com/visionmedia/debug">debug guide</a>을 참고하세요.
