section
  h3(id='debugging-express') 디버깅 Express

  p.
    Express는 내부적으로 라우팅 매치(route matches)나 애플리캐이션 모드에 관한 정보를 로그 시키기 위해서
    <a href="https://github.com/visionmedia/debug">debug</a> 모듈을 사용합니다.
    To see this information, simply set the <code>DEBUG</code> environment variable to
    이 정보를 보기 위해서는, 앱을 시작 할 때, 간단히 <code>DEBUG</code>의 환경 변수(environment variable)을 
    <code>express:*</code>로 설정하면 됩니다. 그러면 콘솔에 디버깅 정보가 나타납니다.

  +shell.
    $ DEBUG=express:* node ./bin/www

  p.
    <code>hello world</code> 예제에 이 것을 실행 시키면, 다음과 같이 나옵니다.
    

  +shell.
    express:application booting in development mode +0ms
    express:router defined get /hello.txt +0ms
    express:router defined get /hello.txt +1ms

  p.
    또한 express 실행 파일(생성기)에 의해 생성 된 이 앱은 <code>debug</code> 모듈을 사용합니다.
    그리고 기본적으로 이는 <code>my-application</code> 디버깅 namespace의 범위로 나타납니다.

  p.
    You can enable those debug statements with the following command
    이러한 디버깅 명령어를 활성화 시키기 위해서는, 아래 커맨드를 사용하세요.

  +shell.
    $ DEBUG=my-application node ./bin/www

  p.
    더 많은 <code>debug</code> 문서들을 보려면 
    <a href="https://github.com/visionmedia/debug">debug guide</a>을 참고하세요.
