section
  h3(id='executable') express-generator를 사용하여 애플리케이션 생성하기

  p.
    Express팀은 프로젝트 시작 손쉽고 빠르게 하실 수 있도록 <code>express-generator</code>라는 생성기를 만들었습니다.
    아래와 같이 global로 설치하면 언제 어디서나 쉽게 express-generator를 사용하실 수 있습니다.

  +js.
    $ npm install -g express-generator

  p.
    이 툴은 간단히 애플리케이션 골격을 만들어내지만, 지원하는 템플릿 엔진 수가 적은 등 모든 것을 제공하지는 못합니다 ^^;
    사용 방법은 <code>--help</code>로 확인해보세요.

  +js.

    Usage: express [options]

    Options:

      -h, --help          output usage information
      -V, --version       output the version number
      -e, --ejs           add ejs engine support (defaults to jade)
      -H, --hogan         add hogan.js engine support
      -c, --css <engine>  add stylesheet <engine> support (less|stylus|compass) (defaults to plain css)
      -f, --force         force on non-empty directory

  p.
    만일 Jade와 Stylus를 지원하는 애플리케이션을 생성하고 싶다면, 아래처럼 실행해보세요.

  +js.
    $ express --css stylus myapp

    create : myapp
    create : myapp/package.json
    create : myapp/app.js
    create : myapp/public
    create : myapp/public/javascripts
    create : myapp/public/images
    create : myapp/public/stylesheets
    create : myapp/public/stylesheets/style.styl
    create : myapp/routes
    create : myapp/routes/index.js
    create : myapp/views
    create : myapp/views/index.jade
    create : myapp/views/layout.jade

    install dependencies:
      $ cd myapp && npm install

    run the app:
      $ DEBUG=myapp node app

  p.
    그 후, 다른 노드 애플리케이션들과 마찬가지로 의존성 모듈들을 설치하시면 됩니다.

  +js.
    $ cd myapp
    $ npm install

  p.
   이제, 작동시켜 봅시다!

  +js.
    $ npm start

  p.
    자, 이정도로 간단한 애플리케이션을 만들고 실행시킬 수 있습니다. 
    다른 애플리케이션 예제들을 살펴보시려면, github 저장소의 <a href="https://github.com/visionmedia/express/tree/master/examples">examples</a>
    를 참고하시기 바랍니다.

