
mixin image(name)
  img(src='./images/apps/screenshots/#{name}.png')

mixin link(title, url)
  .link
    | Visit
    a(href=url)= title

section.application
  h2 MySpace
  p.
    설명이 필요 없습니다. 모두가 아는 MySpace입니다!
    새 https://new.myspace.com는 Express로 작동합니다.

  +link('MySpace', 'https://new.myspace.com/')
  +image('myspace')

section.application
  h2 LearnBoost
  p.
    LearnBoost는 사용하기 쉬운 온라인 교육 공간을 무료로 제공합니다.
    성적표, 수업 계획, 출석, 레포트, 달력과 같은 여러 툴을 제공합니다. 

  +link('LearnBoost', 'https://www.learnboost.com/')
  +image('learnboost')

section.application
  h2 Storify
  p.
    소셜 미디어를 통해 스토리를 만들어줍니다.
    사람들이 소셜 미디어를 통해 올리는 내용이 굉장한 스토리로 변신합니다.
    베스트 포토, 비디오, 트위터 등 스토리로 엮을 것들을 모아보세요.

  +link('Storify', 'http://storify.com/')
  +image('storify')

section.application
  h2 Geekli.st
  p.
    괴짜들(geeks)을 위한 공간으로 그들이 해온 것과 누구와 함께 했는 지 등을 공유합니다.
    또한 멋진 사람들과 커뮤니티를 이어줍니다.


  +link('Geekli.st', 'http://geekli.st')
  +image('geeklist')

section.application
  h2 Klout
  p.
    Klout는 영향력의 기준점입니다. 
    Klout에 합류하여 당신의 영향력을 알아보고, 다른 사람들과 비교해보세요.


  +link('Klout', 'http://klout.com')
  +image('klout')

section.application
  h2 Prismatic
  p.
    Prismatic은 소셜 네트워크에서 당신이 어떻게 소통 하는지를 분석하고,
    당신의 친구들로 부터 가장 흥미로운 내용이나 대화내용을 보여줍니다.

  +link('Prismatic', 'http://getprismatic.com/')
  +image('prismatic')

section.application
  h2 Clipboard
  p.
    Clipboard는 정적인 이미지 뿐만 아니라 당신이 원하는
    온라인 상의 동영상 등을 저장 할 수 있게 도와주는 강력한 도구입니다.

  +link('Clipboard', 'http://clipboard.com/')
  +image('clipboard')

section.application
  h2 StudyNotes
  p.
    StudyNotes에서는 학생들의 학습 능률을 높이기 위한
    아름답고 심플한 공부 툴을 만들 수 있습니다.
    "더 효과적으로, 더 짧은 시간에, 머리에 더 오래 남을 수 있도록 배우세요"

  +link('StudyNotes', 'http://www.apstudynotes.org/')
  +image('studynotes')

section.application
  h2 Persona
  p.
    Persona, 혹은 "BrowserID" 당신의 더 나은 브라우저으 식별 시스템을 위한 Mozilla의 답입니다.
    이 유망한 툴은 한번 사용 해 볼 만한 가치가 있습니다.
    
  +link('Persona', 'https://login.persona.org/')
  +image('browserid')

section.application
  h2 Countly
  p.
    광범위한 실시간 모바일 분석 서비스입니다.

  +link('Countly', 'https://count.ly/')
  +image('countly')

section.application
  h2 Balloons.io
  p.
    Express로 작동하는
    아름다운 오픈소스 실시간 채팅 어플리케이션입니다.

  +link('Balloons.io', 'http://balloons.io/')
  +image('balloon')

section.application
  h2 Segment.io
  p.
    더이상 많은 분석 제공 서비스 때문에 당신의 앱을 어지르지 마세요.
    대신, 당신의 앱을 한번 깨끗이 한 후, 당신이 원하는 분석 서비스로 당신의 데이터를 보내세요.

  +link('Segment.io', 'http://segment.io/')
  +image('segment')

section.application
  h2 Yummly
  p.
    Yummly는 세계에서 가장 크고 파워풀한 레시피 검색 사이트입니다.
    웹 여기 저기서 레시피를 모아 - 당신의 삶을 더 쉽게 만들어 줍니다.
    

  +link('Yummly', 'http://yummly.com/')
  +image('yummly')

section.application
  h2 Koding
  p.
    브라우저 내의 실시간 소프트웨어 개발 툴이며, 통합된 에디터, 콜라보레이션, 터미널 등을 제공합니다.

  +link('Koding', 'http://koding.com/')
  +image('koding')

section.application
  h2 Apiary.io
  p.
    REST API 문서를 새로운 관점으로 나타냅니다.

  +link('Apiary', 'http://apiary.io/')
  +image('apiary')

section.application
  h2 Cozy
  p.
     Cozy는 개인 클라우드이며, 이는 당신이 앱 웹, 당신의 하드웨어의 데이터: 달력, 연락처, 피드, 노트 등을 
     보관 할 수 있도록 도와줍니다. 

     <br />
     Cozy로 당신은 당신의 Express 앱을 만들 수 있으며, 다른 애플리케이션에 저장 된 데이터를 사용 할 수 있습니다.


  +link('Cozy', 'http://cozy.io/')
  +image('cozy')

section.application
  h2 FlyLatex
  p.
     LaTex를 위한 실시간 협업 환경입니다.
  
  +link('FlyLatex', 'http://github.com/alabid/flylatex')
  +image('flylatex') 

section.application
  h2 SimpleSet
  p.
     물리 치료와 건강 전문가들을 위한 진화된 운동 처방 소프트웨어입니다.
  
  +link('SimpleSet', 'http://www.simpleset.net')
  +image('simpleset')

section.application
  h2 Ghost
  p.
     단순 블로그 플랫폼입니다.

  +link('Ghost', 'https://ghost.org')
  +image('ghost')

section.application
  h2 and more!
  p.
    Shodan search는 <strong>26,000개</strong>가 넘는 Express 애플리케이션이 있다고 발표했습니다.
    그 모든 애플리케이션을 여기에 포함 할 수는 없지만, 만약 당신의 애플리케이션이 쇼케이스에 도움이 된다고 생각하시면
    <a href="https://github.com/visionmedia/expressjs.com/issues">github repo</a>에서
    issue를 오픈 해 주시기 바랍니다.


  +image('more')
