#boxes.clearfix
  section#mailing-list
    h3 Mailing List
    p.
      <a href="https://groups.google.com/group/express-js">구글 그룹</a>에서 2000명이 넘는 Express 유저와
      5000개가 넘는 토론에 참여하세요.

  section#irc
    h3 IRC Channel
    p.
      매일 Freenode의 #express에 많은 개발자들이 토론을 나누고 있습니다.
      프레임워크 Jump에 관한 빠른 피드백이 필요하면 언제든 들러주세요.

  section#examples
    h3 Examples
    p.
      API 디자인과 auth부터 통합 템플릿 엔진까지 등의 모든 것을 다루는 Express 애플리케이션의  
      <a href="https://github.com/visionmedia/express/tree/master/examples">예제</a>를 둘러보고 참고하세요.

  section#issues
    h3 Issues
    p.
      버그를 신고하거나, 기능 요청 티켓을 오픈하기 위해서는 <a href="https://github.com/visionmedia/express/issues">issue queue</a>
      를 이용하세요.
      
  section#extending
    h3 Third Party
    p.
      여러 활발한 커뮤니티들이 <a href="https://github.com/senchalabs/connect/wiki">미들웨어</a>와
      더 높은 레벨의 프레임워크 등 다양한 익스텐션을 만들었습니다. 
      <a href="https://github.com/visionmedia/express/wiki">Wiki</a> 문서를 참고하세요.

  section#2x
    h3 Express 2.x docs
    p.
      2.x 문서를 찾고 계세요? <a href="2x">여기</a>에서 보실 수 있습니다.
