section
  h3(id='app.use') app.use([path], function)

  p.
    앱에 미들웨어를 로드합니다. 미들웨어는 <code>function</code>입니다. (<code>경로</code>를 지정할 수 있습니다. 경로의 기본값은 "/"입니다.

  +js.
    var express = require('express');
    var app = express();

    // simple logger
    app.use(function(req, res, next){
      console.log('%s %s', req.method, req.url);
      next();
    });

    // respond
    app.use(function(req, res, next){
      res.send('Hello World');
    });

    app.listen(3000);

  p.
    경로는 미들웨어와 아무런 관계가 없습니다. 즉 경로를 바꾸어도 미들웨어의 코드의 수정은 필요치 않습니다.

  p.
    아래의 예제는 <code>express.static()</code> 미들웨어를 사용하여 애플리케이션이 ./public안의 파일들을 제공하는 기능을 작성한 것입니다.

  +js.
    // GET /javascripts/jquery.js
    // GET /style.css
    // GET /favicon.ico
    app.use(express.static(__dirname + '/public'));

  p.
    예를 들어, 모든 정적 파일 접근시 "/static"을 접두어로 사용하고 싶다면 아래와 같이 설정할 수 있습니다.
    이는 <code>req.url</code>가 "/static"을 포함하고 있지 않으면 <strong>호출 되지 않습니다.</strong>

  +js.
    // GET /static/javascripts/jquery.js
    // GET /static/style.css
    // GET /static/favicon.ico
    app.use('/static', express.static(__dirname + '/public'));

  p.
    <code>app.use()</code>을 사용하여 정의 된 미들웨어의 순서는, 미들웨어의 우선순위를 정하기 때문에 매우 중요하며, 미들웨어는 이 순서대로 호출됩니다.
    예를 들어, 대체로 로깅 미들웨어는 다른 미들웨어 보다 가장 상단에 설정됩니니다.

  +js.
    var logger = require('morgan');

    app.use(logger());
    app.use(express.static(__dirname + '/public'));
    app.use(function(req, res){
      res.send('Hello');
    });

  p.
    만약 정적 파일을 제공할 때는 로깅 요청을 무시하고, <code>logger()</code> 후에 미들웨어 정의를 계속 하고 싶다면,
    <code>static()</code>을 logger 위로 옮기세요.

  +js.
    app.use(express.static(__dirname + '/public'));
    app.use(logger());
    app.use(function(req, res){
      res.send('Hello');
    });

  p.
    아래 예제는 여러 디렉토리에서 정적 파일을 제공할 경우 다른 디렉토리보다 "./public"에 맨 처음 우선순위를 줍니다.
    즉, 먼저 public 디렉토리를 살펴보고, 이후에 files를, 마지막으로 uploads를 살펴봅니다.

  +js.
    app.use(express.static(__dirname + '/public'));
    app.use(express.static(__dirname + '/files'));
    app.use(express.static(__dirname + '/uploads'));
