section
  h3(id='app.disabled') app.disabled(name)

  p.
    <code>name</code>설정이 비활성화되어 있는지 확인합니다.

  +js.
    app.disabled('trust proxy');
    // => true

    app.enable('trust proxy');
    app.disabled('trust proxy');
    // => false