section
  h3(id='app.get') app.get(name)

  p.
    설정된 <code>name</code> 값을 불러옵니다.

  +js.
    app.get('title');
    // => undefined

    app.set('title', 'My Site');
    app.get('title');
    // => "My Site"