section
  h3(id='app.render') app.render(view, [options], callback)

  p.
    <code>view</code>를 html로 생성한 문자열을 가져오는 콜백을 정의합니다.
    이 것은 <code>res.render()</code>의 애플리케이션 레벨 변형이며, 같은 방법으로 동작합니다.

  +js.
    app.render('email', function(err, html){
      // ...
    });

    app.render('email', { name: 'Tobi' }, function(err, html){
      // ...
    });