section
  h3(id='app.enabled') app.enabled(name)

  p.
    <code>name</code>설정이 활성화되어 있는지 확인합니다.

  +js.
    app.enabled('trust proxy');
    // => false

    app.enable('trust proxy');
    app.enabled('trust proxy');
    // => true