section
  h3(id='app.all') app.all(path, [callback...], callback)

  p.
    이 메소드는 모든 HTTP verb에서 <code>app.VERB()</code>와 같은 기능을 합니다. 

  p.
    이 메소드는 "전역"으로 사용되는 로직을 맵핑할 때 특히 유용합니다. 
    
    예를 들어, 다음 라우트를 다른 모든 라우트 정의 위에 둔다면, 이 지점 이후부터 정의된 모든 라우트들은
    인증을 필요로 하며 자동으로 유저 정보를 불러옵니다. 

  +js.
    app.all('*', requireAuthentication, loadUser);

  p.
    또는 같은 기능을 아래와 같이 작성할 수도 있습니다.

  +js.
    app.all('*', requireAuthentication)
    app.all('*', loadUser);

  p.
    아래 예제는 앞의 것과 비슷하지만 오직 "/api"가 접두어로 오는 경로에만 적용됩니다. 

  +js.
    app.all('/api/*', requireAuthentication);