section
  h3(id='app.listen') app.listen()

  p.
    주어진 호스트와 포트 연결을 bind하고 listen합니다.
    이 메소드는 노드의 <a href="http://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback">http.Server#listen()</a>와
    동일합니다.
    
  +js.
    var express = require('express');
    var app = express();
    app.listen(3000);

  p.
    사실 <code>express()</code>에 의해 반환되는 <code>app</code>은 콜백입니다.
    노드의 http 서버로 넘기기 위해 디자인된 자바스크립트의 <code>function</code>이며,
    이는 아래와 같이 HTTP와 HTTPS 프로토콜을 제공하는 두 서버에서 같은 역할을 수행할 수 있도록 정의할 수 있게 합니다.

  +js.
    var express = require('express');
    var https = require('https');
    var http = require('http');
    var app = express();
    
    http.createServer(app).listen(80);
    https.createServer(options, app).listen(443);

  p.
    <code>app.listen()</code>은 단순이 편의성을 위헤 제공되는 메소드이며,
    HTTPS를 사용하거나 HTTP, HTTPS 둘 다 사용하기 위해서는 위의 방법을 사용하세요.

  +js.
    app.listen = function(){
      var server = http.createServer(this);
      return server.listen.apply(server, arguments);
    };
