section
  h3(id='app.locals') app.locals

  p.
    애플리케이션에 만들어진 모든 템플릿에 지역변수를 제공합니다. 
    애플리케이션 레벨의 데이터나 템플릿에 helper 함수를 제공할 때 특히 유용합니다.

  +js.
    app.locals.title = 'My App';
    app.locals.strftime = require('strftime');
    app.locals.email = 'me@myapp.com';
 
    app.locals.title
    // => 'My App'

    app.locals.email
    // => 'me@myapp.com'
