section
  h3(id='express') express()
  
  p.
    express 애플리케이션을 생성합니다.

  +js.
    var express = require('express');
    var app = express();
    
    app.get('/', function(req, res){
      res.send('hello world');
    });
    
    app.listen(3000);
