p 
  |4.x부터, Express는 Connect에 종속적이지 않습니다.
  |이전에 포함 된 모든 미들웨어는 이제는 분리된 repo입니다.
  |<a href="https://github.com/senchalabs/connect#middleware">the list of middleware</a>를 참고해 주세요.
  |이제 포함된 미들웨어는 <code>express.static()</code>뿐 입니다.
