section
  h3(id='req.originalUrl') req.originalUrl

  p.
    <code>req.url</code>과 매우 흡사하지만, 내부적인 목적을 위해 <code>req.url</code>을 재작성 할 수 있도록 해줍니다.

  +js.
    // GET /search?q=something
    req.originalUrl
    // => "/search?q=something"