section
  h3(id='req.is') req.is(type)

  p.
    들어오는 요청이 "Content-Type" 헤더 필드를 포함하고 있는지 검사하고, 주어진 mime <code>type</code>을 매칭시킵니다.

  +js.
    // With Content-Type: text/html; charset=utf-8
    req.is('html');
    req.is('text/html');
    req.is('text/*');
    // => true

    // When Content-Type is application/json
    req.is('json');
    req.is('application/json');
    req.is('application/*');
    // => true

    req.is('html');
    // => false

  p.
    더 많은 정보나 기타 사항은 <a href="https://github.com/expressjs/type-is">type-is</a>를 참고하세요.