section
  h3(id='req.param') req.param(name)

  p.
    파라미터에 <code>name</code>의 값이 존재하는 경우 값을 반환합니다.

  +js.
    // ?name=hanul
    req.param('name')
    // => "hanul"

    // POST name=hanul
    req.param('name')
    // => "hanul"
    
    // /user/hanul for /user/:name 
    req.param('name')
    // => "hanul"
  
  p 이는 다음과 같은 순서대로 살펴봅니다.
  
  ul
    li <code>req.params</code>
    li <code>req.body</code>
    li <code>req.query</code>
 