section
  h3(id='req.acceptsLanguages') req.acceptsLanguages(lang, ...)

  p.
    입력된 <code>lang</code>이 허락되었는지 확인합니다.

  p.
    더 많은 정보나 기타 사항은 <a href="https://github.com/expressjs/accepts">accepts</a>를 참고하세요.