section
  h3(id='req.params') req.params

  p.
    이 속성은 "parameters" 라우트에 맵핑되는 속성들을 포함하는 오브젝트 입니다.
    예를 들어, <code>/user/:name</code>를 가질 때, "name" 속성은 <code>req.params.name</code>로서 사용 가능합니다.
    이 속성의 기본 값은 <code>{}</code>입니다.
    
  +js.
    // GET /user/tj
    req.params.name
    // => "tj"

  p.
    When a regular expression is used for the route definition, 
    정규식이 라우트 정의를 위해 사용 될 때, <code>req.params[N]</code>를 사용한 배열에 캡쳐 그룹(capture groups)이 제공되고,
    <code>N</code>은 캡쳐 그룹의 n번째를 의미합니다.
    이 규칙은 이름이 정의되지 않은 와일드 카드 매치와 `/file/*`과 같은 문자열 라우트에 적용됩니다.

  +js.
    // GET /file/javascripts/jquery.js
    req.params[0]
    // => "javascripts/jquery.js"
