section
  h3(id='req.acceptsLanguage') req.acceptsLanguage(lang)

  p.
    <code>lang</code>를 받아 들일 수 있는지 검사합니다.

  p.
    더 많은 정보나 기타 사항은 <a href="https://github.com/expressjs/accepts">accepts</a>를 참고하세요.