section
  h3(id='req.query') req.query

  p.
    쿼리 문자열들을 포함하고 있는 객체이며, 기본값은 빈 객체인 <code>{}</code>입니다.

  +js.
    // GET /search?q=tobi+ferret
    req.query.q
    // => "tobi ferret"

    // GET /shoes?order=desc&shoe[color]=blue&shoe[type]=converse
    req.query.order
    // => "desc"

    req.query.shoe.color
    // => "blue"

    req.query.shoe.type
    // => "converse"
