section
  h3(id='req.route') req.route

  p.
    루트 원본 경로 문자열, 생성된 regexp 등의 여러 속성을 포함하는 현재 매칭 된 <code>Route</code>입니다.

  +js.
    app.get('/user/:id?', function(req, res){
      console.log(req.route);
    });

  p.
    이전 예제는 다음과 같이 출력합니다.

  +js.
    { path: '/user/:id?',
      keys: [ { name: 'id', optional: true } ],
      regexp: /^\/user(?:\/([^\/]+?))?\/?$/i,
      params: [ id: '12' ] }
