section
  h3(id='req.is') req.is(type)

  p.
    요청이 입력된 "Content-Type" 헤더값을 포함하고 있는지 확인합니다.

  +js.
    // With Content-Type: text/html; charset=utf-8
    req.is('html');
    req.is('text/html');
    req.is('text/*');
    // => true

    // When Content-Type is application/json
    req.is('json');
    req.is('application/json');
    req.is('application/*');
    // => true

    req.is('html');
    // => false

  p.
    더 많은 정보나 기타 사항은 <a href="https://github.com/expressjs/type-is">type-is</a>를 참고하세요.