section
  h3(id='req.fresh') req.fresh

  p.
    요청이 "fresh"인지 확인합니다. (Last-Modified 나 ETag가 여전히 같은지 확인합니다.)

  +js.
    req.fresh
    // => true

  p.
    더 많은 정보나 기타 사항은 <a href="https://github.com/visionmedia/node-fresh">fresh</a>를 참고하세요.