section
  h3(id='res.type') res.type(type)
  
  p.
    Content-Type을 <code>type</code> mime lookup으로 설정하거나,
    "/"가 존재 할 때, Content-Type는 단순히 이 그 자체의 값으로 설정됩니다.

  +js.
    res.type('.html');
    res.type('html');
    res.type('json');
    res.type('application/json');
    res.type('png');
