section
  h3(id='res.attachment') res.attachment([filename])
  
  p.
    Content-Disposition 헤더 필드를 "attachment"로 설정합니다.
    만일 <code>filename</code>가 주어 지면, Content-Type은 자동적으로 extname에 근거 하여
    <code>res.type()</code>을 통해 설정 되며, Content-Disposition의 
    "filename="가 설정 됩니다.

  +js.
    res.attachment();
    // Content-Disposition: attachment

    res.attachment('path/to/logo.png');
    // Content-Disposition: attachment; filename="logo.png"
    // Content-Type: image/png
