section
  h3(id='res.download') res.download(path, [filename], [fn])
  
  p.
    <code>path</code>에 있는 파일을 다운로드 할 수 있도록 설정합니다.
    Content-Disposition의 "filename="는 기본적으로 <code>path</code>로 설정되며, 
    임의의 <code>filename</code>을 설정할 수 있습니다.

  p.
    오류가 발생하거나 전송이 완료되면, (fn을 설정했을 경우)<code>fn</code>이 호출됩니다.
    이 메소드는 내부적으로 <a href="#res.sendfile">res.sendfile()</a>을 사용합니다.

  +js.
    res.download('/report-12345.pdf');

    res.download('/report-12345.pdf', 'report.pdf');

    res.download('/report-12345.pdf', 'report.pdf', function(err){
      if (err) {
        // handle error, keep in mind the response may be partially-sent
        // so check res.headersSent
      } else {
        // decrement a download credit etc
      }
    });
