section
  h3(id='res.location') res.location
  p.
    location 헤더를 설정합니다.

  +js.
    res.location('/foo/bar');
    res.location('foo/bar');
    res.location('http://example.com');
    res.location('../login');
    res.location('back');

  p.
    <code>res.redirect()</code>와 비슷하게 <code>urls</code>를 설정할 수 있습니다.
    
  p.
    예를 들어, 현재 <code>/blog</code>에 위치해 있으면
    아래 코드는 <code>location</code> 헤더를 <code>/blog/admin</code>로 설정해 줍니다.
    
  +js.
    res.location('admin')
