section
  h3(id='res.json') res.json([status|body], [body])
  
  p.
    JSON response를 보냅니다.
    이 메소드는 오브젝트나 배열이 넘겨 질 때, <code>res.send()</code>와 동일하나,
    엄밀하게는 JSON에서는 허용되지 않지만 
    오브젝트가 아닌 것들의 (null, undefined, 등)의 explicit한 JASON 변환 등에 사용됩니다.


  +js.
    res.json(null)
    res.json({ user: 'tobi' })
    res.json(500, { error: 'message' })
