section
  h3(id='res.render') res.render(view, [locals], callback)

  p.
    <code>뷰</code>를 렌더링하고 렌더링 된 HTML 문자열을 callback에 전달합니다.
    오류가 발생하면 내부적으로 <code>next(err)</code>가 실행되고 callback에 전달합니다.

  +js.
    res.render('index', function(err, html){
      // ...
    });

    res.render('user', { name: 'Tobi' }, function(err, html){
      // ...
    });