section
  h3(id='res.set') res.set(field, [value])
  p 
    | 헤더 <code>field</code>를 <code>value</code>로 설정합니다.
    | 오브젝트를 여러 필드를 한꺼번에 설정하기 위해 오브젝트를 넘깁니다. 

  +js.
    res.set('Content-Type', 'text/plain');

    res.set({
      'Content-Type': 'text/plain',
      'Content-Length': '123',
      'ETag': '12345'
    })

  p <code>res.header(field, [value])</code>라고도 알려져 있습니다.