section
  h3(id='res.sendfile') res.sendfile(path, [options], [fn])

  p 주어진 <code>경로</code>의 파일을 전송합니다.
  

  p.
 
    파일명의 확장자를 바탕으로 자동적으로 Content-Type 응답 헤더를 지정합니다.
    파일 전송이 완료되거나 오류가 발생할 경우, <code>fn(err)</code>가 호출됩니다.

  p 옵션:

  ul
    li <code>maxAge</code> Cache-Control 헤더의 max-age를 설정합니다. 밀리초 형태로, 기본값은 0입니다.
    li <code>root</code> 상대 경로를 위한 루트 폴더 경로입니다.
    li <code>headers</code> HTTP 헤더 정보를 갖고있는 객체입니다.
    li <code>dotfiles</code> dotfile들을 제공할지 여부를 결정합니다. 가능한 값으로는 "allow", "deny", "ignore"가 있습니다. 기본값은 "ignore"입니다.

  +js.
    app.get('/file/:name', function (req, res, next) {

      var options = {
        root: __dirname + '/public/',
        dotfiles: 'deny',
        headers: {
            'x-timestamp': Date.now(),
            'x-sent': true
        }
      };
  
      var fileName = req.params.name;
      res.sendFile(fileName, options, function (err) {
        if (err) {
          console.log(err);
          res.status(err.status).end();
        }
        else {
          console.log('Sent:', fileName);
        }
      });
      
    })

  p.
    더 자세한 정보는 <a href="https://github.com/visionmedia/send">send</a>를 참고하세요.
