section
  h3(id='res.links') res.links(links)
  
  p.
    "Link" response 헤더 필드를 채우기 위해, 주어진 <code>links</code>에 join합니다.

  +js.
    res.links({
      next: 'http://api.example.com/users?page=2',
      last: 'http://api.example.com/users?page=5'
    });

  p 는 아래의 결과를 만듭니다:

  pre
    code.
      Link: &lt;http://api.example.com/users?page=2&gt;; rel="next", 
            &lt;http://api.example.com/users?page=5&gt;; rel="last"
