section
  h3(id='res.send') res.send([body])
  
  p.
    응답을 보냅니다.

  +js.
    res.send(new Buffer('whoop'));
    res.send({ some: 'json' });
    res.send('some html');
    res.status(404).send('Sorry, we cannot find that!');
    res.status(500).send({ error: 'something blew up' });

  p.
    이는 단순한 응답을 보낼 때 유용하게 사용됩니다.

  p.
    <code>Buffer</code>를 보낼때는, Content-Type가 미리 정의되지 않으면 자동으로 "application/octet-stream"로 설정됩니다. 아래 예제는 미리 Content-Type을 정하기 때문에 Content-Type이 "text/html"로 설정됩니다.

  +js.
    res.set('Content-Type', 'text/html');
    res.send(new Buffer('<p>some html</p>'));

  p.
    문자열을 보내면, Content-Type은 기본적으로 "text/html"로 설정됩니다.

  +js.
    res.send('<p>some html</p>');

  p.
    객체나 배열을 보내면 Express는 JSON 양식으로 응답합니다.

  +js.
    res.send({ user: 'tobi' })
    res.send([1,2,3])
