section
  h3(id='res.links') res.links(links)
  
  p.
    "Link" 응답 헤더값을 설정합니다.

  +js.
    res.links({
      next: 'http://api.example.com/users?page=2',
      last: 'http://api.example.com/users?page=5'
    });

  p 위 예제는 아래와 같은 결과를 만듭니다.

  pre
    code.
      Link: &lt;http://api.example.com/users?page=2&gt;; rel="next", 
            &lt;http://api.example.com/users?page=5&gt;; rel="last"
