section
  h3(id='res.json') res.json([body])
  
  p.
    JSON 응답을 보냅니다.
    이 메소드는 객체나 배열이 넘겨질 때는, <code>res.send()</code>와 동일하나,
    엄밀히 따졌을 때 객체가 아닌 것들(null, undefined, 등)을 JSON으로 변환하여 전송합니다.

  +js.
    res.json(null)
    res.json({ user: 'tobi' })
    res.status(500).json({ error: 'message' })
