section
  h3(id='router.VERB') router.VERB(path, [callback...], callback)

  p.

    <code>router.VERB()</code>메소드는 Express의 라우팅 기능을 제공하며, <strong>VERB</strong>는
    <code>router.post()</code>와 같은 HTTP verb 중 하나입니다.
    여러 콜백이 주어지고, 동등하게 처리되며, 한 가지 예외 사항을 제외하고는 미들웨어처럼 행동합니다.
    이 예외 사항은 이러한 콜백이 남은 라우트 콜백을 우회하기 위하여 <code>next('route')</code>를 호출한다는 것입니다.
    이러한 방법은 라우트 위의 pre-conditions를 수행하고 매칭 된 라우트와 진행 할 필요가 없을 경우
    다음 라우트들에 컨트롤을 넘기기 위하여 사용 될 수 있습니다.

  p.
    아래 예제는 가장 단순한 라우트 정의를 보여줍니다.
    Express는 경로 문자열을 정규식으로 변환해주며, 내부적으로 들어오는 요청을 매칭합니다.
    쿼리 문자열은 이러한 매칭을 수행 할 때 고려되지 <em>않으며</em>, 예를 들어 
    "GET /"는 "GET /?name=tobi"와 마찬 가지로 다음 라우트를 매칭합니다.


  +js.
    router.get('/', function(req, res){
      res.send('hello world');
    });

  p.

    정규식 또한 사용 될 수 있으며, 특별한 제한 사항이 있는 경우 유용합니다.
    예를 들어 아래는  "GET /commits/71dbb9c..4c084f9" 뿐만 아니라 "GET /commits/71dbb9c"도 매칭시킵니다.


  +js.
    router.get(/^\/commits\/(\w+)(?:\.\.(\w+))?$/, function(req, res){
      var from = req.params[0];
      var to = req.params[1] || 'HEAD';
      res.send('commit range ' + from + '..' + to);
    });
