section
  h3(id='router') Router()

  p.
    라우터는 미들웨어와 라우트들이 독립적으로 설정된 인스턴스 입니다.
    라우터는 미들웨어와 라우팅을 수행할 수 있는 작은 애플리케이션이라고 생각할 수 있습니다.
    모든 express 애플리케이션은 built-in 앱 라우터를 가지고 있습니다. 

  p.
    라우터는 미들웨어처럼 행동하며, 애플리케이션 혹은 다른 라우터에 의해 사용될 수 있습니다.

  p.
    아래와 같이 "express.Router()"를 이용하여 새 라우터를 생성합니다.

  +js.
    var router = express.Router([options]);

  p.
    아래 옵션들은 라우터의 행동을 정의합니다.

  ul
    li
      code caseSensitive 
      | 기본적으로 라우터는 "/Foo" 와 "/foo"를 같게 처리하지만, 이 설정을 통해 대소문자 구분을 활성화 시킬 수 있습니다. 
    li
      code strict 
      | 엄격한 라우팅 모드를 활성화 시킵니다. 기본적으로 라우터는 "/foo"와 "/foo/"를 같게 처리하지만, 이 설정을 통해 따로 처리할 수 있습니다.

  p.
    라우터는 애플리케이션과 같이 미들웨어와 http VERB 라우트를 가질 수 있습니다. 

  +js.
    // invoked for any requests passed to this router
    router.use(function(req, res, next) {
      // .. some logic here .. like any other middleware
      next();
    });

    // will handle any request that ends in /events
    // depends on where the router is "use()'d"
    router.get('/events', function(req, res, next) {
      // ..
    });

  p.
    당신은 앱에서 특정 경로에 라우터를 매칭시킬 수 있습니다.

  +js.
    // only requests to /calendar/* will be sent to our "router"
    app.use('/calendar', router);

include ./router-use
include ./router-param
include ./router-route
include ./router-VERB
