#boxes.clearfix
  section#web-applications
    h3 Web Applications
    p.
      Express는 작고 유연한 node.js 웹 애플리케이션 프레임워크입니다. 하나 혹은 여러 페이지를 제작하거나
      하이브리드 웹 애플리케이션을 위한 다양한 기능들을 제공합니다.

  section#apis
    h3 APIs
    p.
      무수한 HTTP 유틸리티 메소드와 Connect 미들웨어를 당신이 원하는 대로 사용 할 수 있습니다.
      쉽고 간편하게 탄탄하고 사용하기 편리한 API을 생성할 수 있습니다.
      

  section#performance
    h3 Performance
    p.
      Express는 node.js의 어려운 기능들을 모두 알 필요가 없도록 웹 애플리케이션을 개발하는데에 있어서 필수적인 기능들을 제공합니다.   
  
  section#book
    h3 책책책 책을 읽읍시다!
    p.
      더 자세한 내용을 알고 싶다면 
      <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&barcode=9788960775145">익스프레스 프레임워크로 하는 노드 웹 앱 프로그래밍</a>을 참고하세요!
    
    a(href='http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&barcode=9788960775145')
      img(src='images/book.jpg', title='expressjs node book')