
include mixins

nav.clearfix
  +item('/') 홈
  +item('/4x/api.html') API 레퍼런스
  +item('/guide.html') 가이드
  +item('/applications.html') 애플리케이션
  +item('/community.html') 커뮤니티
  +item('/faq.html') FAQ
  +item('http://expressjs.com/3x/api.html') 3.x 문서

